/* css reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
input {outline:none;}
button{
    background-color: transparent;
    cursor: pointer;
}
/* ========================================================================== */
.degree-celsius-symbol::after {
    content: '\00B0';
}
.weather {
    width: 600px;
    height: 435px;
    outline: 1px solid #000;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}
.weather__search {
    flex: 1 100%;
    height: 45px;
    position: relative;
}
.weather__search > input[type="text"] {
    width: 100%;
    height: 100%;
    outline: 1px solid #000;
    padding: 0 50px 0 16px;
    font-size: 18px;
    color: #696969;
}
.weather__search > input[type="image"] {
    position: absolute;
    right: 21px;
    top: 12px;
}
.forecast ,
.weather__added-locations {
    height: 390px;
    flex: 1;
}
.forecast {
    outline: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.forecast__tabs {
    flex: 1;
}
.forecast__tabs-item {
    height: 100%;
    display: none;
}
.forecast__tabs-item_active {
    display: block;
}
.forecast__tabs-item_active#now-tab {
    display: flex;
}
.now-tab {
    flex-direction: column;
    position: relative;
}
.now-tab__temperature {
    font-size: 70px;
    position: absolute;
    top: 20px;
    left: 26px;
}
.now-tab__weather-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}
.now-tab__location {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.now-tab__location-name {
    flex: 1;
    font-size: 24px; 
    height: 100%; 
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
}
.now-tab__like-button {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.details-tab__location-name {
    height: 66px;
    padding: 32px 0 0 16px;
}
.details-tab {
    font-size: 24px;
}

.details-tab__weather-properties {
    padding: 34px 0 16px 16px;
    overflow: auto;
    flex: 1;
}
.details-tab__weather-properties > li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 268px;
    margin: 0 0 16px 0;
}

.forecast-tab {
    font-size: 18px;
    flex-direction: column;
    justify-content: space-between;
}
.forecast__tabs-item_active#forecast-tab {
    display: flex;
}
.forecast-tab__location-name {
    font-size: 24px;
    padding: 32px 0 0 16px;
}
.forecast-list {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    height: 280px;
    overflow: auto;
}
.forecast-list__list-item {
    border: 1px solid #000;
    min-height: 120px;
    margin: 0 0 9px 0;
    padding: 9px 13px 1px 13px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.forecast-list__date,
.forecast-list__time {
    flex: 1 50%;
}
.forecast-list__time {
    text-align: right;
}
.forecast-list__temperature-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.forecast-list__feels-like {
    margin: 6px 0 0 0;
}
.forecast-list__weather-condition {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forecast-list__weather-icon {
    width: 40px;
    height: 40px;
}

.forecast__nav {
    display: flex;
}
.forecast__nav-item {
    flex: 1;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000; 
    border-left: 1px solid #000;
}
.forecast__nav-item:first-of-type {
    border-left: none;
}
.forecast__nav-item_active {
    background-color: #000;
    color: #fff;
}

.added-locations {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}
.added-locations__header {
    height: 66px;
    padding: 32px 0 0 16px;
}
.added-locations__list {
    border-top: 1px solid #000;
    padding: 34px 0 16px 16px;
    overflow: auto;
    flex: 1;
}
.added-locations__list > li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 268px;
    margin: 0 0 16px 0;
    cursor: pointer;
}
